
html,body {
  scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

nav .active {
    color: #a58264;
}

.nav-link {
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.19em;
    letter-spacing: 0.25px;
    color: black;
}

.navbar-collapse {
    justify-content: space-around;
}

nav li {
    padding-left: 3em;
}

.navbar-toggler {
    background-color: #a58264;
    color: black !important;
}

header {
    background-image: url('background.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 47em;
    padding: 1em;
    max-width: 100%;
    width: 100%;
}

.prvi img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

}

.drugi {
    position: relative;
    height: 600px;

}

.drugi p {
    display: block;
    color: #333739;
    font-family: "Lora", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 2.25em;
    margin-top: 230px;

}

.drugi .krofne {
    margin-top: -80px;
    overflow: hidden;
    margin-left: 40px;
    height: auto;
    width:
}

.treci {
    background-color: blanchedalmond;
    height: auto;
    position: relative;
}

.treci p {
    font-family: "Lora", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: italic;
    line-height: 2.25em;
    margin-top: 120px;
    margin-left: 40px;
}

.kuvar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.treci button {
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.4px;
    color: white;
    background-color: #a58264;
    border-radius: 50px;
    height: 45px;
    width: 150px;
    margin-left: 45px;
}

.treci h2 {
    position: absolute;
    width: 400px;
    font-family: "Lora", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.25em;
    letter-spacing: 2px;
    margin-top: -50px;
    margin-left: 20px;
}

.cetvrti {
    height: auto;
    padding: 80px;
}

.cetvrti h2 {
    font-family: "Lora", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    height: 30px;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.25em;
    letter-spacing: 2px;
    margin-bottom: 120px;
    text-align: center;

}

.cetvrti h3 {
    font-family: "Lora", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.5em;
    text-align: center;
    margin-top: -23px;
    border-bottom: 1px #a58264 solid;

}

.cetvrti p {
    color: #626d73;
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 2.25em;
    text-align: center;
}

.peti {
    height: 650px;
    width: auto;
    background-image: url('brasno.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #3b3d42;
}

.peti h2 {
    color: #ffffff;
    font-family: "Lora", Sans-serif;
    font-size: 64px;
    font-weight: 400;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -400px;

}

.overlay {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.sesti {
    height: auto;
    padding-bottom: 80px;
}

.sesti img {
    vertical-align: middle;
    display: block;
    object-fit: cover;
    height: 300px;
    width: 100%;
    padding: 10px;
}

.sesti h2 {
    font-family: "Lora", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.25em;
    letter-spacing: 2px;
    padding: 50px;
}


.sedmi {
    height: auto;
    margin-top: -100px;
}
.dva{
    animation-delay: 0.5s;
}
.tri{
    animation-delay: 1s;
}
.cetiri{
    animation-delay: 1.5s;
}
.sedmi img {
    width: 580px;
    height: 700px;
    object-fit: cover;
}

.sedmi h4 {
    font-family: "Lora", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.75em;
}

.sedmi p {
    color: #737373;
    font-family: "Lora", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
}

.sedmi .meni {
    margin-top: 280px;
}

.sedmi h2 {
    font-family: "Lora", Sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.25em;
    letter-spacing: 2px;
    width: 520px;
    margin-left: 18px;
    margin-top: 122px;
}

footer img {
    margin-left: 50px;
}

footer p {
    color: #737373;
    font-family: "Lora", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.6em;
    margin-top: 30px;
}

footer i {
    margin-top: 20px;
}


@media only screen and (min-width: 768px) {
    header {
        background-size: cover;
    }

    .sedmi img {
        margin-top: 127px;
    }

    .kuvar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    header {
        background-size: cover;
    }

    .kuvar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 500px;

    }

    .drugi p {
        margin-top: 0px;
        padding-bottom: 30px;

    }

    .sedmi img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .sedmi .meni {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        background-size: cover;
        height: 500px;
    }

    .krofne {
        margin-bottom: -250px;
        width: 300px;

    }

    .treci h2 {
        margin-left: 10px;
        font-size: 34px;
        width: 350px;
    }

    .kuvar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 500px;
        margin-top: 35px;
    }

    .drugi p {
        margin-top: 120px;
        padding-top: 5px;

    }

    .sedmi .meni {
        margin-top: 50px;
    }

    .sesti img {
        min-width: 220px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .cetvrti h2 {
        margin-left: -80px
    }

    .cetvrti img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .peti h2 {
        margin-top: -600px;
    }

    footer img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    footer p {
        text-align: center;
    }

    footer {
        display: block;
        text-align: center;
    }
}

.social a {
    font-size: 1.5em;
    padding: .7rem;
}

.fa-bars {
    color: white;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.mreze:hover {
    color: #d5d5d5;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #a58264; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 15px; /* Increase font size */ 
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}